$white-color: #fff;
$black-color: #000;
$dark-color: #414141; 
$grey-color: #777;
$light-color: #f5f5f5;
$active-color: #2ade72;
$hero-shadow: linear-gradient(45deg, rgba(25, 25, 25, 0.6), rgba(25, 25, 25, 0.6));